<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-context">

        {{>header}}
        <p>This site was created by Anubhav. It uses data from this and that</p>
        <img src="/web-server/public/img/borutto.jpg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>