<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-context">

        {{>header}}
        <p>{{description}}</p>
    </div>
    {{>footer}}
</body>
</html>